@font-face {
    font-family: 'GothamBold';
    src: url(Gotham-Bold.otf);
    font-weight: 900;
}

@font-face {
    font-family: 'GothamBook';
    src: url(Gotham-Book.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'GothamMedium';
    src: url(Gotham-Medium.otf);
    font-weight: 400;
}

body, html {
    font-family: 'GothamBook';
    height: 100%;
    display: grid;
  }

.center-me {
    margin: auto;
}

.card {   
    border: 4px solid; 
    border-radius:0%; 
    height: 100%;
}

.CardHeader {
    color: white !important;
    min-height: 75px;
}

.blueCard { 
    border-color: #55C7F1;
}

.blueCardHeader{
    background-color: #55C7F1;
}

.orangeCard {
 border-color: #D97953;    
}

.orangeCardHeader {
    background-color: #D97953;
    text-align: center;
    font-family: 'GothamBold';
    font-size: 3rem;
}

.purpleCard {
    border-color: #A683B8;  
}

.purpleCardHeader {
    background-color: #A683B8;
    text-align: center;
    font-family: 'GothamBold';
    font-size:x-large;
}

.cyanCard {
    border-color: #65C1AE;    
}

.cyanCardHeader {
    background-color: #65C1AE;
    text-align: center;
    font-family: 'GothamBold';
    font-size: x-large;
}

.pTag {
    font-family: 'GothamBold';
    font-size: 3rem;
}

.pName {
    font-family: 'GothamBook';
    font-size: 1rem;
    font-weight:bold;
    word-wrap: break-word;
}
.card-text {
    font-family: 'GothamMedium';
    font-size: 5rem;          
}
.blue-card-text {
    color:#55C7F1 ;
}
.orange-card-text {
    color:#D97953 ;
}
.purple-card-text {
    color:#A683B8 ;
}
.cyan-card-text {
    color:#65C1AE ;
}
.patientText{
    color:#323569;
    font-weight: 800;
    border-bottom: 1px solid black;
}